/* TITLE */
.mutes-table-title {
    background-color: #3d6def;
    border-radius: 5px 5px 0 0;
    text-align: left;
}

.mutes-table-title h1 {
    font-weight: 700;
    font-size: 14px;
    color: white;
}

/* CONTENT */
.mutes-table-content {
    box-shadow: 0 0 5px grey;
    padding: 0;
}

.mutes-table-gif img {
    width: 50%;
    padding: 10%;
}

/* TOP */
.mutes-table-top {
    padding: 0;
    display: flex;
    overflow: auto;
    border-bottom: 1px solid grey;
}

.mutes-table-top-item {
    width: 30%;
    padding: 4%;
    border-right: 1px solid grey;
}

.mutes-table-top-item:last-child {
    border: none;
}

.mutes-table-top-item p {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
}

.mutes-item-player {
    min-width: 55%;
}

/* ITEMS */
.mutes-table-content-items {
    padding: 0;
    overflow: auto;
    border-bottom: 1px solid grey;
}

.mutes-table-content-items:last-child {
    border: none;
}

/* ITEM */
.mutes-table-content-item {
    padding: 0;
    border-bottom: 1px solid grey;
    text-align: left;
    display: flex;
    overflow: auto;
}

.mutes-table-content-item:last-child {
    border: none;
}

.mutes-table-content-username {
    padding: 2%;
    float: left;
    color: black;
    text-decoration: none;
    min-width: 55%;
    border-right: 1px solid grey;
}

.mutes-table-content-username p {
    float: left;
    margin: 2% 0;
}

.mutes-table-content-username img {
    float: left;
    margin-right: 2%;
    width: 15%;
}

.mutes-table-content-type {
    text-align: left;
    padding: 2%;
    border-right: 1px solid grey;
}

.mutes-table-content-type:last-child {
    border: none;
}

.mutes-content-reason, .mutes-item-reason {
    min-width: 80%;
}

.mutes-content-type, .mutes-item-type {
    min-width: 29%;
    text-align: center;
}

.mutes-content-date, .mutes-item-date {
    min-width: 31%;
    text-align: center;
}

.mutes-content-expiry, .mutes-item-expiry {
    min-width: 32%;
    text-align: center;
}

/* FOOTER */
.mutes-table-footer {
    background-color: #3d6def;
    border-radius: 0 0 5px 5px;
}

.mutes-table-page {
    padding: 2% 0;
}

.mutes-table-page button {
    padding: 2%;
    background: none;
    border: 1px solid white;
    margin: 0 2%;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}