/* MENU */
.menu-table-center {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
  }
  
  .menu-drop-down {
    display: inline-block;
    position: relative;
  }
  
  .menu-drop-down-button {
    background: #3d6def;
    display: inline-block;
    line-height: 40px;
    padding: 0 14px;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.4);
    cursor: pointer;
  }
  
  .menu-drop-down-button i {
    float: right;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
  }
  
  .menu-drop-down-menu-item i {
    float: right;
    font-size: 17.5px;
    text-align: center;
  }
  
  .menu-drop-down-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .menu-drop-down-menu-box {
    position: absolute;
    width: 92.5%;
    background-color: #3d6def;
    border-radius: 4px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
    transition: all .6s;
    visibility: hidden;
    opacity: 0;
    margin-top: 15%!important;
  }
  
  .menu-drop-down-menu-box:before {
    content: "";
    background-color: transparent;
    border-right: 8px solid transparent;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #3d6def;
    border-top: 8px solid transparent;
    top: -15px;
    right: 18px;
  }
  
.menu-drop-down-menu-box:after {
    content: "";
    background-color: transparent;
  }
  
.menu-drop-down-menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
  }
  
.menu-drop-down-menu-item {
    font-size: 15px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
  }

  
.menu-drop-down-menu-item:last-of-type {
    border-bottom: 0;
  }
  
.menu-drop-down-menu-item:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 28px;
    background-color: #fff;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
  
  .menu-drop-down-menu-item:hover:before {
    display: block;
  }
  
  .menu-drop-down-active .menu-drop-down-menu-box {
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
  }
  
  